= render partial: 'form'
.row
  .large-12.columns
    %h4 Last few activities
    %table
      %thead
        %tr
          %th{:width => "200"} Activity Type
          %th{:width => "200"} Time started
          %th{:width => "150"} Time Ended
      %tbody
      - @activities.each do |activity|
        %tr
          %td= activity.category_title
          %td= activity.start_time.to_formatted_s( format = :short)
          - if activity.category_title.include? "Diaper"
            %td="Not applicable"
          - else
            %td= activity.end_time.to_formatted_s( format = :short)
